app-list {
  width: 100%;
  padding: 16px 0;
}

.container {
  width: 700px;
  margin: 0 auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.container .header {
  display: flex;
  justify-content: space-between;
  background-color: #abc69d;
  align-items: center;
  margin-bottom: 10px;
}
.header p {
  padding: 0 15px;
}
